<html>
<head>
    <title>The Help Page on Rails Application | Help</title>
  </head>
<body bgcolor="yellow" text="black">
<center>
<h1>Help</h1>
<p>
  <h3>I am a monster. I just shake the pillars of Insanity. LOL </h3><br><br>
  <a href="home.html">Go to Home page, Asshole</a><br><br>
  <a href="about.html">About me, dude! Go check!</a>
</p>
</center>
</body>
</html>